@import "../../App.scss";


.Slider {
    margin: 20px auto; 
    max-width: 800px; 
    height: 40px;
  }
  
  .Slider img {
    justify-content: safe;
    width: 100%;
    height: auto;
    display: block;
  }
  
