.PageNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
  }
  
  .PageNotFound-img {
    width: 50%; 
    margin:0 auto;
  }
  